exportPattern("^[[:alpha:]]+")
useDynLib(RandomClustering)
importFrom(Rcpp, sourceCpp)
importFrom(magrittr, "%>%")
importFrom(stats, "rbinom")
importFrom(dplyr,"n_distinct","select")
importFrom(utils, "head", "tail")
export(clusters_matrix)
